<div class="row">
  <div class="well span8">
    <em>"<%= comment.body %>"</em>
    <p>
      <span class="quiet">by</span> <%= comment.user.username %>
      <small>at <%= comment.created_at %></small>
    </p>
  </div>
</div>
